<% content_for :page_title do %>
	<%= @site_page.page_title rescue '' %>
<% end %>
<div id="contact_left">
<h1>Contact Us!</h1>


<%= error_messages_for :inquiry %>
<div class="generic_form">
	<% form_for(:inquiry, :url => collection_url) do |f| %>
		<p><%= f.label :name, "Your Name" %>
		   <%= f.text_field :name, :class => 'required' %>
    </p>
    <p>
       <%= f.label :phone_number, "Your Phone Number" %>
       <%= f.text_field :phone_number, :class => 'required' %>
    </p>
		<p><%= f.label :email, "Your Email Address" %>
		   <%= f.text_field :email, :class => 'required email' %>
		</p>
		<p><%= f.label :name, "Type of Inquiry" %>
		   <%= f.select :inquiry_type, INQUIRY_TYPES %>
		</p>
		<p><%= f.label :order_no, "Order #" %>
		   <%= f.text_field :order_no %>
		</p>
		<p><%= f.label :message, "Message" %><br />
		   <%= f.text_area :message, :class => 'required' %>
		</p>
		
	  <p>
	    <%= submit_tag "Send It!" %>
	  </p>
	<% end %>
	
</div>
</div>
<div id="contact_right">
	<h1>Contact Info</h1>
	<%= render 'shared/contact_info' %>
</div>
