<%= error_messages_for :inquiry %>

<h1><%= t('contact_us') %></h1>

<div class="contact_form">
	<% form_for(:inquiry, :url => collection_url) do |f| %>
    <p>
      <%= f.label :name, t('inquiry') %>
      <%= f.select :inquiry_type, INQUIRY_TYPES %>
    </p>
    <p>
      <%= f.label :order_no, t('order_number') %>
      <%= f.text_field :order_no %>
    </p>
    <p>
      <%= f.label :first_name, t('name') %>
      <%= f.text_field :name, :class => 'required' %>
    </p>
    <p>
      <%= f.label :email, t('email') %>
      <%= f.text_field :email, :class => 'required email' %>
    </p>
    <p>
      <%= f.label :phone, t('phone') %>
      <%= f.text_field :name, :class => 'phone' %>
    </p>
    <p>
      <%= f.label :message, t('message') %><br/>
      <%= f.text_area :message, :class => 'required' %>
    </p>
    <p>
      <%= submit_tag %>
    </p>
	<% end %>
</div>
