<%= error_messages_for :inquiry %>

<h1>Contact Us</h1>
<p>Have a question / comment / suggestion? We'd like to know.</p>

<div class="contact_form">
	<% form_for(:inquiry, :url => collection_url) do |f| %>
    <p>
      <%= f.label :name, "Inquiry" %>
      <%= f.select :inquiry_type, inquiry_types %>
    </p>
    <p>
      <%= f.label :order_no, "Order #" %>
      <%= f.text_field :order_no %>
    </p>
    <p>
      <%= f.label :first_name, "Name" %>
      <%= f.text_field :name, :class => 'required' %>
    </p>
    <p>
      <%= f.label :email, "Email" %>
      <%= f.text_field :email, :class => 'required email' %>
    </p>
    <p>
      <%= f.label :phone, "Phone #" %>
      <%= f.text_field :name, :class => 'phone' %>
    </p>
    <p>
      <%= f.label :message, "Message" %><br/>
      <%= f.text_area :message, :class => 'required' %>
    </p>
    <p>
      <%= submit_tag %>
    </p>
	<% end %>
</div>
